@import "tailwindcss";
@plugin "daisyui";


:root {
  --color-primary: #CCD6F6;
  --color-secondary: #C084FC;
  --color-tertiary: #BBF7D0;
  --color-quaternary: #8892B0;
  --font-ntr: 'NTR', sans-serif;
  --background: white;
  --foreground: var(--color-primary);
}


body {
  font-family: var(--font-ntr);
  color: var(--color-primary);
  background-color: white;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.component-name {
  @apply text-3xl font-bold mb-4 pb-3 text-center border-b;
  border-bottom-width: 0.1px;
  border-color: var(--color-quaternary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a192f;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a192f;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ntr);
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-tertiary {
  color: var(--color-tertiary);
}

.text-footerfont {
  color: var(--color-footerfont);
}

.text-quaternary {
  color: var(--color-quaternary);
}

@keyframes jump-twice {
  0%   { transform: translateY(0); }
  20%  { transform: translateY(-10px); }
  40%  { transform: translateY(0); }
  60%  { transform: translateY(-10px); }
  80%  { transform: translateY(0); }
  100% { transform: translateY(0); }
}

.animate-jump-twice {
  animation: jump-twice 2s ease-in-out 1;
}

html {
  scroll-behavior: smooth;
}

.aniscale {
  @apply transition duration-200 hover:scale-120;
}
